body {
      background:white;
      font-family:'Segoe UI';
      font-size: 14px;
      color: #000;
      background-image: url("immagini/gioielleria2.jpg"); 
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
    }

    body{
      height:100vh;
      width:100vw;
      background:radial-gradient(circle at center, #222, #000);
    
      #wrap{
        width:100vw;
        height:100vh;
        position:absolute;
        display:flex;
        justify-content:center;
        align-items:center;
        transition:0.2s cubic-bezier(0.175, 0.885, 0.32, 1.575);
        transition-delay:1.85s;
        pointer-events:none;
        filter:hue-rotate(70deg);
        &:nth-of-type(2){
          z-index:-1;
          &:before{
            content:'click me';
            text-transform:uppercase;
            position:absolute;
            color:rgba(255,255,255,0.75);
            z-index:999;
            font-family:Futura;
            letter-spacing:2px;
            font-size:8px;
            left:5px;
            width:100%;
            top:calc(50% + 40px);
            text-align:center;
            transition:transform 0.4s ease-in-out, opacity 0.4s ease-in-out, letter-spacing 0.3s ease-in-out;
            transition-delay:2.5s, 2.5s, 0s;
            opacity:1;
          }
          svg{
            path{
              transition-delay:0s, 0s;
              stroke:#fff;
            }
            &:nth-of-type(2){
              path{
                transition-delay:0.75s, 0.75s;
              }
            }
            &:nth-of-type(3){
              path{
                transition-delay:1.5s, 1.5s;
              }
            }
          }
        }
      }
      input{
        position:absolute;
        width:100px;
        height:100px;
        z-index:999;
        opacity:0;
        cursor:pointer;
        left:50%;
        top:50%;
        transform:translateX(-50%) translateY(-50%);
        &:hover ~ #wrap{
          &:before{
            transition-delay:2.5s, 2.5s, 0s;
            letter-spacing:5px;
          }
        }
        &:checked ~ #wrap{
          transform:scaleX(0.9);
          &:before{
            opacity:0;
            transform:translateY(25vh);
            transition-delay:0s, 0s, 0s;
          }
          &:nth-of-type(2){
            svg{
              path{
                stroke:#fff;
              }
            }
          }
          svg{
            transition-delay:0s;
          &:first-of-type{
            transform:translateY(0px);
            path{
              transition-delay:0.5s, 0.5s;
            }
          }
          &:nth-of-type(2){
            transform:translateY(0px) scaleY(-1);
            path{
              transition-delay:0.5s, 0.5s;
            }
          }
          &:nth-of-type(3){
            path{
              stroke-dasharray:10000px;
              stroke-dashoffset:10000px;
              transition-delay:1s, 1s;
            }
          }
            path{
              stroke-dasharray:5000px;
              stroke-dashoffset:-4150px;
              stroke:yellow;
            }
          }
        }
      }
    }
    
    
      svg{
        position:absolute;
        width:200px;
        transition:0.2s cubic-bezier(0.175, 0.885, 0.32, 1.575);
        transition-delay:2s;
        margin-left:-9px;
        &:first-of-type{
            transform:translateY(5px);
        }
        &:nth-of-type(2){
          transform:translateY(-6px) scaleY(-1);
          path{
            transition:stroke-dasharray 1.2s ease-in-out, stroke-dashoffset 1.2s ease-in-out, stroke 1.2s ease-in-out;
            transition-delay:0.6s, 0.6s, 0.6s;
          }
        }
        &:nth-of-type(3){
          transform:translateY(25px);
          path{
            transition:stroke-dasharray .25s ease-in-out, stroke-dashoffset 0.25s ease-in-out, stroke 0.25s ease-in-out;
            transition-delay:1.8s, 1.8s, 1.8s;
          }
        }
        path{
          stroke:blue;
          stroke-width:40px;
          fill:none;
          stroke-linecap:round;
          stroke-dasharray:4400px;
          stroke-dashoffset:4200px;
          transition:stroke-dasharray 1.5s ease-in-out, stroke-dashoffset 1.5s ease-in-out, stroke 1.5s ease-in-out;
        }
      }
    
     header {
      background-color: #47A99E;
      color:white;
      padding: 15px;
    }

.logo {
    max-width: 100%;
    max-height: 100%;
    margin-left: 10px;
  }

    .navbar-nav {
      text-align: center;
      font-size: 18px;
      font-family: 'Patrick Hand', cursive;
      margin: auto;
    }

  #body-prodotti{
    background-image: url("immagini/chiaro.jPg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  #body-contatti{
    background-image: url("immagini/chiaro.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

    .swiper {
      width: auto;
      height: auto;
      padding: 10%
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
    }

    .swiper-slide img {
      width: 100%;
      height: 100%;
    }

    .banner {
      background-image: url(gielleria2.jpg);
      background-size: cover;
      background-position: center;
      text-align: center;
      font-size:xx-large;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      padding: 100px 20px;
      color:white;
    }

    .banner h1 {
      font-size: 80px;
      margin-bottom: 20px;
      text-shadow: 0px 0px 6px #333;
    }

    .banner h2 {
      text-shadow: 0px 0px 6px #333;
    }

    .cta-button {
      display: inline-block;
      background-color:#47A99E;
      color: #333;
      padding: 10px 20px;
      font-size: 18px;
      text-decoration: none;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }
    
    .cta-button:hover {
      background-color: white;
      color: #47A99E;
    }

    .chisiamo {
      padding: 20px;
      background-color:white;
      margin:auto;
      padding-left: 15%;
      padding-right: 15%;
      padding-top: 10%;
      padding-bottom: 10%;

    }
    
    .chisiamo h2 {
      font-size: 60px;
      color:#333;
      background-color:  #47A99E;
      text-align: center;
      margin-bottom: 30px;
      padding: 5%;
    }
    
.chisiamo p {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 30px;
    }

.carrello {
  padding: 50px 20px;
  background:whitesmoke;
}

.carrello h2 {
  font-size: 45px;
  background-color:#47A99E;
  color:#333;
  text-align: center;
  margin-bottom: 30px;
  padding: 5%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 10px;
  text-align: left;
}

table th {
  background-color:rgb(236, 234, 231);
}

table td a {
  color: #ff0000;
  text-decoration: none;
}

tfoot .total-label {
  text-align: right;
  font-weight: bold;
}

tfoot .total-amount {
  font-weight: bold;
}

.checkout-button {
  display: inline-block;
  background-color:#47A99E;
  color: #333;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.checkout-button:hover {
  background-color:#47A99E;
}

.contatti {
  padding: 50px 20px;
}

.contatti h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

form input[type="submit"] {
  background-color:#47A99E;
  color: #333;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color:#47A99E;
}

.separa{
  background-color:white;
  padding:20px;
}

footer {
  background-color:#47A99E;
  color: #333;
  padding: 15px;
  text-align: center;
}